{% extends 'common/index.html' %}

{% block content %}


    <!--Create Page-->
    <section class="createPage">

        <form method="POST" action="{% url 'create-song' %}" enctype="multipart/form-data">
            <fieldset>
                <legend>Add Song</legend>
                <div class="container">
                    {{ form }}
                    {% csrf_token %}

                    <button class="add-song" type="submit">Add New Song</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}
